.App {
    width: 100%;
    height: 720px;
    background: #24377B;
    text-align: center;
  }
  img{
    width: 22%; /* Modifier */
    height: 32%; /* Modifier */
    margin-top: 0%;
    pointer-events: none;
  }
  .rect1{
    width: 23%; /* Modifier */
    height: 55%; /* Modifier */
    left: calc(50% - 25%/2); /* Modifier */
   background-color: aliceblue;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .ph1{
    margin-top: 9%;
    width: 55%; /* Modifier */
    height: 1%; /* Modifier */
    left: calc(50% - 13%/2); /* Modifier */
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 30px;
    font-size: 1.2vw; /* Modifier */
    line-height: 50%;
    /* identical to box height, or 88% */
    display: flex;
    align-items: center;
    text-align: center;
    color: #140D6A;
    mix-blend-mode: normal;
  }
  .print{
    width: 16%; /* Modifier */
    height: auto; /* Modifier */
    margin-top: 4%;
  }
  #matricule{
    padding: 2%;
    width: 70%; /* Modifier */
    margin-top: 8%;
    background-color: aliceblue;
    border-bottom: 1px solid #000000;
    border: none;
    border-bottom: 1px solid #000000;
    margin-left: auto;
    margin-right: auto;
  }
  
  ::placeholder {
    text-align: center;
    font-size: 1.2vw; /* Modifier */
  }
  #mdp{
    padding: 2%;
    width: 70%; /* Modifier */
    margin-top: 9%;
    background-color: aliceblue;
    border-bottom: 1px solid #000000;
    border: none;
    border-bottom: 1px solid #000000;
    margin-left: auto;
    margin-right: auto;
  }
  
  ::placeholder {
    text-align: center;
    font-size: 1.2vw; /* Modifier */
  }
  
  #conx {
    width: 40%;
  padding: 3%;
    margin: 2rem auto;
    background: #24377B;
    border-radius: 30px;
    border: none;
    text-align: center;
  }
  .ph3 {
    width: 90%;
    height: auto;
    margin: 2rem auto;
    font-style: normal;
    font-weight: 40;
    font-size: 15px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #FFFFFF;
  }
    input:valid {
      text-align: center;
      font-size: 1.2em;
      color: #FFFFFF;
      font-family: 'Tajawal';
  
    }
  .ph2{
  text-align: center;
  width: 90%;
  height: 30%;
  margin-top: 0%;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
  /* or 117% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }
  
  @media screen and (max-width: 767px) {
    .App {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  @media screen and (max-width: 767px) {
    .rect1 {
      height: 50%;
     width: 70%;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  @media screen and (max-width: 767px) {
    .ph2 {
      font-size: 80%;
      margin-left: 24%;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  @media screen and (max-width: 767px) {
    .print {
      margin-left: auto;
    margin-right: auto;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  @media screen and (max-width: 767px) {
    .ph1 {
      text-align: center;
      font-size: 70%;
      margin-left: 30%;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  @media screen and (max-width: 767px) {
    ::placeholder {
      text-align: center;
      font-size: 90%;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  @media screen and (max-width: 767px) {
    img {
        width: 60%;
        flex-direction: column;
        align-items: flex-start;
    }
  }
  
  
  
  
  
  