@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,300";


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 2px solid gainsboro;
  color: rgb(21, 21, 130);
}
th {
  padding: 20px ;
  text-align: center;
  width: 80em;
  border-bottom: 2px solid gainsboro;
}
td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: #eaf0fd}


.absence_bottom {
    text-align: right;
    padding: 1em;
    margin: 0 2em;
}


@media screen and (max-width: 768px) {
  .absence_bottom {
    text-align: center;
}

}