@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,300";
.archive_page {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 0;
    background: #f5f5f9;
    height: auto;
    width: 100%;
    font-family: Open Sans;
    overflow-x: hidden;
   
  }
  
  .archive_container {
    position: absolute;
    top: 15%;
    margin-left: 15%;
    width: 85%;
  }
  
  .absences_table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid #ebf0f7;
    color: rgb(21, 21, 130);
  }
  .absences_table th {
    padding: 20px ;
    text-align: center;
    width: 80em;
    border-bottom: 2px solid #ebf0f7;
  }
  .absences_table td {
    text-align: center;
    padding: 8px;
  }
  .button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #f44336;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {
    background-color: #f44336; }
  
  .button:active {
    background-color: #f44336;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .archive_Avatar {
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-radius: 50%;
  }
  .archive_body {
    padding: 0.5em;
    width: 100% auto;
    height: auto;
    margin: 3%;
    font-size: 70%;
  }

  .absences_table  tr:nth-child(even){background-color: #ebf0f7}
  @media screen and (max-width: 768px) {
    .absence_bottom {
      text-align: center;
  }
  
  }
