@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,300";

.expert_page {
  display: flex;
  margin: 0 auto;
  padding: 0;
  background: #f5f5f9;
  height: 100vh auto;
  width: 100%;
  font-family: Open Sans;
}

.expert_container {
  position: absolute;
  top: 15%;
  margin-left: 15%;
  width: 85%;
}

.expert_info {
  font-weight: bold;
  font-size: 18px;
  color: rgb(73, 76, 86);
  letter-spacing: 1px;
  text-indent: 20px;
}

.expert_list {
  line-height: 18px;
}

.expert_att {
  font-weight: bold;
  color: rgb(76, 78, 88);
  font-size: 16px;
  display: inline;
}
.expert_value {
  color: rgb(111, 114, 130);
  font-size: 15px;
  display: inline;
}

.expert_body_1 {
  flex-direction: row;
  position: relative;
  margin-top: 1em auto;
}

.expert_body {
  position: absolute;
  margin: 1em 4em;
  display: flex;
  width: 88%;
  height: 32em auto;
  background-color: #fbfcfd;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 rgba(155, 155, 155, 0.2);
  padding: 1rem;
  flex-direction: column;
}

.searchbar {
  height: 2em;
  margin: 0em 3.3em;
  left: 70%;
  border-radius: 5px;
  background-color: rgb(253, 254, 255);
  top: -37px;
  width: 100%;
}

.expert_menu {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 3px;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 rgba(155, 155, 155, 0.2);
}

.table_tr{
  font-weight: 600;
  color: rgb(76, 78, 88);;
}
@media screen and (max-width: 768px) {


  .expert_container {
    display: block;
    margin-left: 5%;
  }
  .expert_page {
    height: 60em;
  }
  .expert_body {
    padding: 1em;
    width: 100%;
    height: 25em;
    margin: 3%;
    font-size: 70%;
  }
  
  .searchbar {
    margin: 0em 0.3em;
    left: 0%;
    padding: 0.8em;
    width: 95%;
  }
  .expert_menu {
    height: 80px;
    padding: 0.40em;
    
  }
  .expert_body {
    padding: 0.5em;
    width: 100% auto;
    height: auto;
    margin: 3%;
    font-size: 70%;
  }
  .expert_add_button {
    width: 96%;
    left: 2%;
  }


}