@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");
.login_page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.login_container {
  margin: 0;
  padding: 0;
  background: radial-gradient(ellipse at bottom, #24377b 0%, #090937 100%);
  height: 100vh;
  overflow: hidden;
}

.login_logo {
  transform: translate(-50%, -50%);
  width: 270px;
  position: absolute;
  top: 15%;
  padding: 1em;
  left: 50%;
}

.login_whitebox {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 451px;
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
.login_whitebox h5 {
  text-align: center;
  padding: 20px 0;
}
.login_whitebox form {
  padding: 0 40px;
  box-sizing: border-box;
}
.login_FormControl {
  width: 100%;
  font-size: 16px;
}
form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.login_error {
  color: rgb(135, 59, 59);
  font-size: 14px;
  text-indent: 30px;
  padding: 0.1em;
  transition: 0.5s;
  animation: animate 0.4s linear forwards;

}

.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}
.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover {
  text-decoration: underline;
}
.login_button {
  width: 100%;
  height: 50px;
  margin: 1.5em 0em;
  border: 1px solid;
  background: linear-gradient(90deg, #24377b, #1c2657);
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: 0.4s;
}
.login_button:hover {
  background-color: #24377b;
  border-color: #2691d9;
  letter-spacing: 1px;
  transition: 0.4s;
}

.form_control {
  transition: 0.5s;

}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a {
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover {
  text-decoration: underline;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

@media screen and (max-width: 768px) {
  .login_whitebox {
    width: 340px;
  }
  .login_whitebox h5 {
    font-size: 20px;
  }
  .login_error {
    font-size: 12px;
  }
}

@media screen and (max-width: 280px) {
  .login_whitebox {
    width: 250px;
  }
  .login_whitebox h5 {
    text-align: center;
    padding: 20px 0;
  }
  .login_whitebox h5 {
    font-size: small;
  }
  .login_error {
    font-size: 12px;
  }
}
@keyframes animate {
  0% { 
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}