@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,300";

.Nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    color: #fff;
    padding: 0 20px;
    background: #f2f4f6;
    position: fixed;
    box-shadow: 0 1px 6px 0 rgba(155, 155, 155, 0.2);
    width: 100%;
    top: 0;
    z-index:1;
  
  }
  .navbar2 {
    background-color: #24377b;
    width: 500px;
    height: 70px;
    right: 20px;
    padding: 0.9em;
    position: relative;
    border-bottom-right-radius: 30px;
  
  }
  .navbar_item{
    color: #000000;
    
  }
  .navbar__logo {
    color: rgb(255, 255, 255);
    width: 160px;
  }
  
  .navbar__toggle {
    display: none;
    font-size: 24px;
    background-color: transparent;
    color: #000000;
    border: none;
    cursor: pointer;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 76px;
    left: 0px;
    width: 240px;
    height: calc(100vh - 80px);
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    background: #24377b;  }
  
  .sidebar.hide {
    transform: translateX(-100%);
  }
  
  .sidebar__list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  .sidebar_list2 {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    position:absolute;
    bottom: 5px;
    left: 5px;
  }
  .hr {
    background-Color: #d2d2d2;
    height: 1px;
    width: 200px;
    margin: auto;
    
  }
  .SideNav_Avatar {
    width: 100px;
    border: 2px solid white;
    border-radius: 50%;
  }
  .sidebar__item {
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none !important;

  }
  .sidebar__item:hover, .sidebar_item2:hover{
    border-radius: 25px;
    color:#d2d2d2;
    letter-spacing: 1px;
  }
  .sidebar__item:active, .sidebar_item2:active{
    transform: translateY(-7px);
  }
  .sidebar__avatar {
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    transition-duration: 0.4s;
  }
  .sidebar__name {
    font-size: 16px;
    padding: 0px;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
  }
  .sidebar_item2 {
    font-size: 20px;
    letter-spacing: 2px;
    padding: 30px;
    cursor: pointer;
    color: #787A91;
    transition-duration: 0.4s;
    text-align: center;
  
  }
  


  @media screen and (max-width: 768px) {
    .navbar__toggle {
      display: block;
    }
    .sidebar {
      width: 70%;
      transform: translateX(-100%);
    }
    .sidebar.show {
      transform: translateX(0);
    }
      
  .navbar__logo {
    color: rgb(255, 255, 255);
    width: 160px;
    content:url("../../assets/images/logonoir.png");
  }
  .navbar {
    background: linear-gradient(90deg, #ffffff 240px, rgba(255,255,255,1) 240px);

  } 
  .navbar_item {
    font-size: 70%;
  }
  
  }
  