@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,300";

.Nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: #fff;
  padding: 0 20px;
  background: #f2f4f6;
  position: fixed;
  box-shadow: 0 1px 6px 0 rgba(155, 155, 155, 0.2) !important;
  width: 100%;
  top: 0;
  z-index: 3;
}
.navbar2 {
  background-color: #24377b;
  width: 500px;
  height: 70px;
  right: 20px;
  padding: 0.9em;
  position: relative;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 10px;
  box-shadow: 1px 2px 3px 0 rgba(60, 60, 60, 0.2) !important;


}
.navbar_item {
  color: rgb(73, 76, 86);
  font-weight: bold;
  display: flex;
  flex-direction: row;
}
.navbar_logo {
  color: rgb(255, 255, 255);
  width: 160px;
}

.navbar_toggle {
  display: none !important;
  font-size: 24px;
  background-color: transparent;
  color: #000000;
  border: none;
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 69px;
  left: 0px;
  width: 240px;
  height: calc(100vh - 70px);
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  box-shadow: 2px 1px 3px 0 rgba(60, 60, 60, 0.2) !important;
  z-index: 3;

  background: #24377b;
}

.sidebar.hide {
  transform: translateX(-100%);
}

.sidebar_list {
  list-style: none;
  padding: 0em;
  margin: 0px 1em;
  text-align: center;
}


.SideNav_Avatar {
  width: 95px;
  height: 95px;
  border: 2px solid white;
  border-radius: 50%;
}
.sidebar_item {
  font-size: 18px;
  padding: 0.6em;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  text-decoration: none !important;
}

.sidebar_logout {
  font-size: 18px;
  margin: 1.5em 3em;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none !important;
  width: 50%;
  height: 50%;
}

.sidebar_item:hover {
  color: #d2d2d2;
}

.sidebar_avatar {
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  transition-duration: 0.4s;
  pointer-events: none;
}
.sidebar_name {
  font-size: 16px;
  padding: 0px;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  pointer-events: none;
}

.logout_icon {
  font-size: 35px;
}
.sidebar_logout:hover {
  color: #d2d2d2;
}

.page_name {
  text-align: left;
  padding: 0% 6%;
  font-size: 12px;
  color: rgb(73, 76, 86);
}




@media screen and (max-width: 768px) {
  .navbar_toggle {
    display: block !important;
  }
  .navbar {
    background: white;
    height: auto;
  }
  .navbar_item{
    margin-left: 68%;
  }
  .sidebar {
    width: 70%;
    transform: translateX(-100%);
    left: -4px;
  }
  .sidebar.show {
    transform: translateX(0);
  }

  .navbar_logo {
    color: rgb(255, 255, 255);
    width: 160px;
    content: url("../../assets/images/logonoir.png");
  }


  .navbar2 {
    background-color: rgb(255, 255, 255);
    height: 60px;
    box-shadow: none !important;

  }
  .navbar_item {
    font-size: 85%;
  }
  .page_name {
    text-align: left;
    padding: 4% 6%;
    font-size: 12px;
    color: rgb(73, 76, 86);
  }
  .sidebar_item {
    font-size: 15px;
    padding: 0.5em;
  }

  .sidebar_logout {
    font-size: 15px;
    margin: 3em 23%;

  }
}
