@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,300";

.Nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: #fff;
  padding: 0 20px;
  background: #f2f4f6;
  position: fixed;
  box-shadow: 0 1px 6px 0 rgba(155, 155, 155, 0.2) !important;
  width: 100%;
  top: 0;
  z-index: 3;
}
.navbar2 {
  background: linear-gradient(90deg,  #1f2f6a 88%, rgba(28,38,87,1) 88%, rgba(28,38,87,1) 90%);
  height: 70px;
  width: 500px;
  right:30px;
  padding: 0.9em;
  position: relative;
  box-shadow: 0 1px 6px 0 rgba(155, 155, 155, 0.2) !important;
  border-bottom: 2px solid #1c2657;
  border-top: 2px solid #1c2657;
		transform: skewX(-15deg);
}

.navbar_item {
  color: rgb(73, 76, 86);
  font-weight: bold;
  display: flex;
  flex-direction: row;
  
}
.navbar_logo {
  color: rgb(255, 255, 255);
  width: 170px;
  transform: skewX(15deg)
}

.navbar_toggle {
  display: none !important;
  font-size: 24px;
  background-color: transparent;
  color: #000000;
  border: none;
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 69px;
  left: 0px;
  width: 240px;
  height: calc(100vh - 70px);
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  box-shadow: 2px 1px 3px 0 rgba(60, 60, 60, 0.2) !important;
  z-index: 3;
  background: linear-gradient(180deg, #1f2f6a 94%, rgba(28,38,87,1) 94%, rgba(28,38,87,1) 100%);
  border-right: 2px solid #1c2657;
  border-left: 2px solid #1c2657;

  }
.sidebar.hide {
  transform: translateX(-100%);
}

.sidebar_list {
  list-style: none;
  padding: 0em;
  margin: 10px 1em;
}
.sidebar_list3 {
  list-style: none;
  padding: 0em;
  margin: 1em 0em;
  text-align: center;
}
.sidebar_list2 {
  list-style: none;
  padding: 0em;
  margin: 2.5em 1em;
}
.sidebar_lihome{
}

.home_nav {
  background-color: #d2d2d2;
}
.SideNav_Avatar {
  width: 95px;
  height: 95px;
  border: 3px solid white;
  border-radius: 50%;
}
.sidebar_item {
  font-size: 16px;
  padding: 1em;
  margin: 0em 0em;
  display: block;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none !important;
  letter-spacing: 1px;
  transition: all ease-out 300ms;
  text-transform: uppercase;

}
.sidebar_itemhome {
  font-size: 16px;
  padding: 1em;
  margin: 0em 0em;
  display: block;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none !important;
  letter-spacing: 0.1em;
  transition: all ease-out 300ms;
  background-color: #1c2657;
  border-radius: 10px;
  text-transform: uppercase;

}

.sidebar_logout {
  font-size: 15px;
  margin: 2em;
  padding: 0.2em;
  display: block;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  text-decoration: none !important;
  letter-spacing: 0.2em;
  transition: all ease-out 300ms;
}
.logout_icon {
  font-size: 25px;
}
.sidebar_item:hover {
  color: #d2d2d2;
}
.sidebar_itemhome:hover {
  color: #d2d2d2;
}
.sidebar_avatar {
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.4s;
  pointer-events: none;
}
.sidebar_name {
  font-size: 16px;
  padding: 0px;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  pointer-events: none;
  letter-spacing: 0.1em;
}
.sidebar_name2{
  font-size: 13px;
  padding: 0px;
  cursor: pointer;
  color: #dbdbdb;
  text-align: center;
  pointer-events: none;
  letter-spacing: 0.1em;
}

.sidebar_logout:hover {
  color: #d2d2d2;
}

.page_name {
  text-align: left;
  padding: 0% 6%;
  font-size: 12px;
  color: rgb(73, 76, 86);
}

@media screen and (max-width: 768px) {
  .navbar_toggle {
    display: block !important;
  }
  .navbar {
    background: white;
    height: auto;
  }
  .navbar_item {
    margin-left: 68%;
  }
  .sidebar {
    width: 70%;
    transform: translateX(-100%);
    left: -4px;
  }
  .sidebar.show {
    transform: translateX(0);
  }

  .navbar_logo {
    color: rgb(255, 255, 255);
    width: 160px;
    content: url("../../assets/images/logonoir.png");
  }

  .navbar2 {
    background: white;
    border: none;
    height: 60px;
    box-shadow: none !important;
  }
  .navbar_item {
    font-size: 85%;
  }
  .page_name {
    text-align: left;
    padding: 4% 6%;
    font-size: 12px;
    color: rgb(73, 76, 86);
  }
  .sidebar_item {
    font-size: 15px;
    padding: 0.5em;
  }

  .sidebar_logout {
    font-size: 15px;
    margin: 3em 23%;
  }
}
