@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,300";

.news_page {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0;
  background: #f5f5f9;
  height: auto;
  width: 100%;
  font-family: Open Sans;
  overflow-x: hidden;
 
}

.news_container {
  position: absolute;
  top: 15%;
  margin-left: 15%;
  width: 85%;
}

.news_hr {
  color: color;
  background-color: black;
  height: 1;
  width: 100% !important;
  margin: 4% 0%;
}
.news_body {
  position: absolute;
  margin: 1em 20em;
  display: flex;
  width: 50%;
  height: 32em auto;
  background-color: #fbfcfd;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 rgba(155, 155, 155, 0.2);
  padding: 1rem;
  flex-direction: column;
  text-align: center;
}
.news_content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.news_card {
  position: relative;
  width: 70%;
}

.news_item_card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.news_item_card img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.news_item_card .card-body {
  padding: 0.5rem;
}

.news_item_card .card-title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.news_item_card .card-text {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}


@media screen and (max-width: 768px) {


  .news_page {
    height: auto;
  }
  .news_container {
    display: block;
    margin-left: 5%;
  }
  .news_body {
    padding: 1em;
    width: 100%;
    height: auto;
    margin: 3%;
    font-size: 70%;
  }

  .news_card {
    width: 95%;
  }

}
