.profile_body {
  flex-direction: row;
  position: relative;
  margin-top: 1em auto;
}

.profile_body_1 {
  position: absolute;
  margin: 1em 4em;
  display: flex;
  width: 50%;
  height: 23em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgb(192, 192, 192);
  padding: 1rem;
  flex-direction: column;

}

.profile_body_2 {
  position: absolute;
  margin: 1em 56.4%;
  display: flex;
  width: 40.5%;
  height: 23em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgb(192, 192, 192);
  padding: 1rem;
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
  .profile_body {
    flex-direction: column;
    position: relative;
    display: block;
  }
  .profile_body_1 {
    padding: 1em;
    width: 100%;
    height: 25em;
    margin: 3%;
    font-size: 70%;
  }
  .profile_body_2 {
    padding: 1em;
    width: 100%;
    height: 20em;
    margin: 3%;
    margin-top: 27.6em;
    font-size: 70%;
  }
}
