@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,300";
@import "profile_header.css";
@import "profile_body.css";

.profile_page {
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    background: #F5F5F9;
    width: 100%;
    font-family: Open Sans;
  }

.profile_container {
  position: absolute;
  top: 15%;
  margin-left: 15%;
  width: 85%;
}




.profile_info {
  font-weight: bold;
   font-size: 18px;
   color: rgb(73, 76, 86);
   letter-spacing: 1px;
   text-indent: 20px;

}

.profile_list { 
  line-height: 18px;
  
  }
  
.profile_att {
  font-weight: bold;
  color: rgb(76, 78, 88);
  font-size: 16px;
  display: inline

  
}
.profile_value {
  color: rgb(111, 114, 130);
  font-size: 15px;
  display: inline

}
@media screen and (max-width: 768px) {

  .profile_container {
    display: block;
    margin-left: 5%;
    
  }
  .profile_page {
    height: 60em ;

  }
  .profile_body {
    font-size: 100%;
  }


}