@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,300";


.calendar {
  display: flex;
  flex-direction: column;
}

.day-names {
  display: flex;
  padding: 1em;
}

.day-name {
  width: calc(100% / 7);
  text-align: center;
  font-weight: 600;
}

.days {
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: calc(100% / 7);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.Calendar_Menu{
  display: flex;
  flex-direction: row;
}