.tasks_grid {
  display: grid;
  grid-template-columns: 22.5em 22.5em 22.5em;
  background-color: #fbfcfd;
  padding: 10px;
  border: 2px solid #ebf0f7;
}
.tasks_grid_item {
  background-color: #fbfcfd;
  padding: 15px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  border: 2px solid #fbfcfd;
}

.task_card {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(235, 240, 247, 1) 42%,
    rgba(255, 255, 255, 1) 36%,
    rgba(255, 255, 255, 1) 36%
  );

  border-radius: 10px;
  box-shadow: 0 4px 8px 0 #e5e5e5, 0 6px 10px 0 #e5e5e5;
  padding: 0.5em;
  border: 2px solid #151582;
}
.task_menu {
  display: flex;
  justify-content: end;
}
.task_name {
  font-size: 18px;
  color: #151582;
  font-weight: 600;
  text-align: left;
}

.task_desc {
  font-size: 12px;
  font-weight: 600;
  color: #464e56;
  text-align: left;
}
.task_operation {
  display: flex;
  justify-content: left;
  font-size: 12px;
  font-weight: 600;
  color: #464e56;
}
.task_info {
  align-items: center;
  justify-content: start;
  display: flex;
  color: #464e56;
  font-size: 12px;
  padding: 3px;
}

.task_add_card {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 #e5e5e5, 0 6px 10px 0 #e5e5e5;
  padding: 0.5em;
  border: 2px solid #151582;
  background-color: rgba(235, 240, 247, 1);
  cursor: pointer;
  height: 210px !important;
  transition: 0.4s;
}
.task_add_card:hover {
  background-color: rgb(243, 246, 250);
}
.task_add_card:active {
  background-color: #ffffff;
}
.task_add_name2 {
  font-size: 18px;
  color: #1492d1;
  pointer-events: none;
  user-select: none;
}
.task_add_name {
  font-size: 18px;
  color: #151582;
  pointer-events: none;
  user-select: none;
}

.task_add_icon {
  font-size: 60px !important;
  color: #151582;
}

.task_add_desc {
  font-size: 12px;
  font-weight: 600;
  color: #464e56;
  text-align: center;
  user-select: none;
}

@media screen and (max-width: 600px) {
  .modal_addtask {
    width: 50%;
  }
}
